@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    <link rel="stylesheet" href="~/Content/base.css">
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="content"></div>
@Styles.Render("~/Content/less")

<script src="~/Scripts/build/bundle.js"></script>

</body>
</html>